.dropdown {
    position: relative;
    display: inline-block;
}

ul {
    margin: 27px auto 0;

    position: relative;
    width: 590px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 8px;
    border-color: #e74c3c;
    font-size: 0;
}

ul a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #34495e;
    cursor: pointer;
}
ul .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
}
a:nth-child(1) {
    width: 120px;
}
a:nth-child(2) {
    width: 120px;
}
a:nth-child(3) {
    width: 120px;
}
a:nth-child(4) {
    width: 120px;
}
a:nth-child(5) {
    width: 120px;
}
a:nth-child(6) {
    width: 120px;
}
a:nth-child(1):active {
    background-color: #e74c3c;
}
ul .start-home,
a:nth-child(1):hover ~ .animation {
    width: 120px;
    left: 0;
    background-color: #1abc9c;
}
ul .start-Add,
a:nth-child(2):hover ~ .animation {
    width: 120px;
    left: 130px;
    background-color: #e74c3c;
}
ul .start-Products,
a:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 250px;
    background-color: #e74c3c;
}
ul .start-Orders,
a:nth-child(4):hover ~ .animation {
    width: 120px;
    left: 370px;
    background-color: #e74c3c;
}
ul .start-Campaign,
a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 490px;
    background-color: #e74c3c;
}
ul .start-Revenue,
a:nth-child(6):hover ~ .animation {
    width: 120px;
    left: 610px;
    background-color: #e74c3c;
}

span {
    color: #2bd6b4;
}
